body {
    background-color: #FCEEF5;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #ae6ed6;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

#hora {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background-color: #FFD6E0;
    color: #5b425b;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:disabled {
    background-color: #E3E3E3;
    cursor: not-allowed;
}

button:hover {
    background-color: #FFB6C1;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.carro {
    text-align: center;
}

.carro img {
    width: 120px; /* Tamaño medio */
    cursor: pointer;
    opacity: 0.5;
}

.carro img:hover {
    opacity: 1;
}

.carro input {
    width: 60px;
    text-align: center;
    border: 2px solid #A2D2FF;
    background-color: #E3F2FD;
    border-radius: 5px;
    font-size: 16px;
}